In [14]:
import pandas as pd

In [15]:
df=pd.read_csv("dataset/diamonds.csv")

In [16]:
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [17]:
quality=['Fair','Good','Very Good','Premium','Ideal']
clr=['J','I','H','G','F','E','D']
clrty=['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [18]:
def quality_code(cut):
    for i in range(len(quality)):
        if(cut==quality[i]):
            return i;

def color_code(color):
    for i in range(len(clr)):
        if(color==clr[i]):
            return i;

def clarity_code(clarity):
    for i in range(len(clrty)):
        if(clarity==clrty[i]):
            return i;

In [19]:
df['cut']=df['cut'].apply(quality_code)
df['color']=df['color'].apply(color_code)
df['clarity']=df['clarity'].apply(clarity_code)

In [20]:
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,4,5,1,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,3,5,2,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,1,5,4,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,3,1,3,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,1,0,1,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,4,6,2,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,1,6,2,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,2,6,2,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,3,2,1,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,4,6,1,62.2,55.0,2757,5.83,5.87,3.64

In [21]:
df.isnull().sum()

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
price         0
x             0
y             0
z             0
dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  int64
 3   color       53940 non-null  int64
 4   clarity     53940 non-null  int64
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(5)
memory usage: 4.5 MB

In [23]:
df.to_csv('dataset/diamonds.csv')